<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Puertas de Interior"
	useFullscreenExpand="true"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"

>
  <image imageURL="images/PB100097.JPG"
	thumbURL="thumbs/PB100097.JPG"
	linkURL="images/PB100097.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\PB100097.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PB100098.JPG"
	thumbURL="thumbs/PB100098.JPG"
	linkURL="images/PB100098.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\PB100098.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Imagen 236.jpg"
	thumbURL="thumbs/Imagen 236.jpg"
	linkURL="images/Imagen 236.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\Imagen 236.jpg">
    <title><![CDATA[Imagen 236]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141016_130129.jpg"
	thumbURL="thumbs/20141016_130129.jpg"
	linkURL="images/20141016_130129.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20141016_130129.jpg">
    <title><![CDATA[Puerta y ventanas, lacadas en blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141007_131628.jpg"
	thumbURL="thumbs/20141007_131628.jpg"
	linkURL="images/20141007_131628.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20141007_131628.jpg">
    <title><![CDATA[20141007_131628]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141016_092722.jpg"
	thumbURL="thumbs/20141016_092722.jpg"
	linkURL="images/20141016_092722.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20141016_092722.jpg">
    <title><![CDATA[Puerta en madera para exterior]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141016_125922.jpg"
	thumbURL="thumbs/20141016_125922.jpg"
	linkURL="images/20141016_125922.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20141016_125922.jpg">
    <title><![CDATA[puerta doble cristalera, color blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141016_125940.jpg"
	thumbURL="thumbs/20141016_125940.jpg"
	linkURL="images/20141016_125940.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20141016_125940.jpg">
    <title><![CDATA[20141016_125940]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150715_121335.jpg"
	thumbURL="thumbs/20150715_121335.jpg"
	linkURL="images/20150715_121335.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20150715_121335.jpg">
    <title><![CDATA[20150715_121335]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151111_160407.jpg"
	thumbURL="thumbs/20151111_160407.jpg"
	linkURL="images/20151111_160407.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20151111_160407.jpg">
    <title><![CDATA[20151111_160407]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150918_121351.jpg"
	thumbURL="thumbs/20150918_121351.jpg"
	linkURL="images/20150918_121351.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20150918_121351.jpg">
    <title><![CDATA[puerta plegable, para separar espacios]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150918_121454.jpg"
	thumbURL="thumbs/20150918_121454.jpg"
	linkURL="images/20150918_121454.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20150918_121454.jpg">
    <title><![CDATA[puerta plegable, para separar espacios]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180123_120905.jpg"
	thumbURL="thumbs/20180123_120905.jpg"
	linkURL="images/20180123_120905.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20180123_120905.jpg">
    <title><![CDATA[20180123_120905]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180123_120928.jpg"
	thumbURL="thumbs/20180123_120928.jpg"
	linkURL="images/20180123_120928.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20180123_120928.jpg">
    <title><![CDATA[20180123_120928]]></title>
    <caption><![CDATA[tabique movil, puerta corredera]]></caption>
  </image>
  <image imageURL="images/IMG-20180318-WA0003.jpg"
	thumbURL="thumbs/IMG-20180318-WA0003.jpg"
	linkURL="images/IMG-20180318-WA0003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\IMG-20180318-WA0003.jpg">
    <title><![CDATA[puerta corredera, roble con tinte gris]]></title>
    <caption><![CDATA[puerta corredera, roble con tinte gris]]></caption>
  </image>
  <image imageURL="images/IMG-20180318-WA0006.jpg"
	thumbURL="thumbs/IMG-20180318-WA0006.jpg"
	linkURL="images/IMG-20180318-WA0006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\IMG-20180318-WA0006.jpg">
    <title><![CDATA[IMG-20180318-WA0006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170623_125522.jpg"
	thumbURL="thumbs/20170623_125522.jpg"
	linkURL="images/20170623_125522.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\PuertasInterior\images\20170623_125522.jpg">
    <title><![CDATA[20170623_125522]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20191218_083009.jpg"
	thumbURL="thumbs/20191218_083009.jpg"
	linkURL="images/20191218_083009.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\SUBIR puertas interior\20191218_083009.jpg">
    <title><![CDATA[20191218_083009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20191218_083028.jpg"
	thumbURL="thumbs/20191218_083028.jpg"
	linkURL="images/20191218_083028.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\SUBIR puertas interior\20191218_083028.jpg">
    <title><![CDATA[Puerta corredera blanca]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20200103-WA0002.jpg"
	thumbURL="thumbs/IMG-20200103-WA0002.jpg"
	linkURL="images/IMG-20200103-WA0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\miria\Desktop\JOSE\pagina web\Pagina web\SUBIR puertas interior\IMG-20200103-WA0002.jpg">
    <title><![CDATA[IMG-20200103-WA0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>