<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Barandas"
	useFullscreenExpand="true"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"

>
  <image imageURL="images/fotos movil 097.jpg"
	thumbURL="thumbs/fotos movil 097.jpg"
	linkURL="images/fotos movil 097.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos movil 097.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/baranda madera acero 2.JPG"
	thumbURL="thumbs/baranda madera acero 2.JPG"
	linkURL="images/baranda madera acero 2.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\baranda madera acero 2.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/baranda madera acero 3.JPG"
	thumbURL="thumbs/baranda madera acero 3.JPG"
	linkURL="images/baranda madera acero 3.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\baranda madera acero 3.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/baranda madera acero 5.JPG"
	thumbURL="thumbs/baranda madera acero 5.JPG"
	linkURL="images/baranda madera acero 5.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\baranda madera acero 5.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 010.jpg"
	thumbURL="thumbs/fotos baranda 010.jpg"
	linkURL="images/fotos baranda 010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 010.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 011.jpg"
	thumbURL="thumbs/fotos baranda 011.jpg"
	linkURL="images/fotos baranda 011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 011.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 012.jpg"
	thumbURL="thumbs/fotos baranda 012.jpg"
	linkURL="images/fotos baranda 012.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 012.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 013.jpg"
	thumbURL="thumbs/fotos baranda 013.jpg"
	linkURL="images/fotos baranda 013.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 013.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 014.jpg"
	thumbURL="thumbs/fotos baranda 014.jpg"
	linkURL="images/fotos baranda 014.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 014.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 016.jpg"
	thumbURL="thumbs/fotos baranda 016.jpg"
	linkURL="images/fotos baranda 016.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 016.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 017.jpg"
	thumbURL="thumbs/fotos baranda 017.jpg"
	linkURL="images/fotos baranda 017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 017.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 018.jpg"
	thumbURL="thumbs/fotos baranda 018.jpg"
	linkURL="images/fotos baranda 018.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 018.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 019.jpg"
	thumbURL="thumbs/fotos baranda 019.jpg"
	linkURL="images/fotos baranda 019.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 019.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos baranda 035.jpg"
	thumbURL="thumbs/fotos baranda 035.jpg"
	linkURL="images/fotos baranda 035.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos baranda 035.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos movil 093.jpg"
	thumbURL="thumbs/fotos movil 093.jpg"
	linkURL="images/fotos movil 093.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos movil 093.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos movil 096.jpg"
	thumbURL="thumbs/fotos movil 096.jpg"
	linkURL="images/fotos movil 096.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\fotos movil 096.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150217_171059.jpg"
	thumbURL="thumbs/20150217_171059.jpg"
	linkURL="images/20150217_171059.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150217_171059.jpg">
    <title><![CDATA[20150217_171059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150205_090037.jpg"
	thumbURL="thumbs/20150205_090037.jpg"
	linkURL="images/20150205_090037.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150205_090037.jpg">
    <title><![CDATA[20150205_090037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150217_171001.jpg"
	thumbURL="thumbs/20150217_171001.jpg"
	linkURL="images/20150217_171001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150217_171001.jpg">
    <title><![CDATA[20150217_171001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150217_171025.jpg"
	thumbURL="thumbs/20150217_171025.jpg"
	linkURL="images/20150217_171025.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150217_171025.jpg">
    <title><![CDATA[20150217_171025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150211_111059.jpg"
	thumbURL="thumbs/20150211_111059.jpg"
	linkURL="images/20150211_111059.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150211_111059.jpg">
    <title><![CDATA[Baranda con madera de haya combinada con acero]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150211_111127.jpg"
	thumbURL="thumbs/20150211_111127.jpg"
	linkURL="images/20150211_111127.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150211_111127.jpg">
    <title><![CDATA[Baranda con madera de haya combinada con acero]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150211_111229.jpg"
	thumbURL="thumbs/20150211_111229.jpg"
	linkURL="images/20150211_111229.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150211_111229.jpg">
    <title><![CDATA[Baranda con madera de haya combinada con acero]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150211_111218.jpg"
	thumbURL="thumbs/20150211_111218.jpg"
	linkURL="images/20150211_111218.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20150211_111218.jpg">
    <title><![CDATA[20150211_111218]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20191218_111254.jpg"
	thumbURL="thumbs/20191218_111254.jpg"
	linkURL="images/20191218_111254.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20191218_111254.jpg">
    <title><![CDATA[Baranda lacada blanco y pasamanos en roble]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20191218_113032.jpg"
	thumbURL="thumbs/20191218_113032.jpg"
	linkURL="images/20191218_113032.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\Barandas\images\20191218_113032.jpg">
    <title><![CDATA[Baranda lacada blanco y pasamanos en roble]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20210423_190235.jpg"
	thumbURL="thumbs/20210423_190235.jpg"
	linkURL="images/20210423_190235.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR barandas\20210423_190235.jpg">
    <title><![CDATA[20210423_190235]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20210423_190732.jpg"
	thumbURL="thumbs/20210423_190732.jpg"
	linkURL="images/20210423_190732.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR barandas\20210423_190732.jpg">
    <title><![CDATA[20210423_190732]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>