<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Puertas de Calle"
	useFullscreenExpand="true"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	showThumbsButton="true"

>
  <image imageURL="images/PB140004.JPG"
	thumbURL="thumbs/PB140004.JPG"
	linkURL="images/PB140004.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\PB140004.JPG">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos movil 067.jpg"
	thumbURL="thumbs/fotos movil 067.jpg"
	linkURL="images/fotos movil 067.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\fotos movil 067.jpg">
    <title><![CDATA[2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fotos movil 091.jpg"
	thumbURL="thumbs/fotos movil 091.jpg"
	linkURL="images/fotos movil 091.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\fotos movil 091.jpg">
    <title><![CDATA[3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PA050070.JPG"
	thumbURL="thumbs/PA050070.JPG"
	linkURL="images/PA050070.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\PA050070.JPG">
    <title><![CDATA[4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PA170089.JPG"
	thumbURL="thumbs/PA170089.JPG"
	linkURL="images/PA170089.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\PA170089.JPG">
    <title><![CDATA[5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260264.JPG"
	thumbURL="thumbs/P8260264.JPG"
	linkURL="images/P8260264.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260264.JPG">
    <title><![CDATA[6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260268.JPG"
	thumbURL="thumbs/P8260268.JPG"
	linkURL="images/P8260268.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260268.JPG">
    <title><![CDATA[7]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260276.JPG"
	thumbURL="thumbs/P8260276.JPG"
	linkURL="images/P8260276.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260276.JPG">
    <title><![CDATA[8]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260269.JPG"
	thumbURL="thumbs/P8260269.JPG"
	linkURL="images/P8260269.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260269.JPG">
    <title><![CDATA[9]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260272.JPG"
	thumbURL="thumbs/P8260272.JPG"
	linkURL="images/P8260272.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260272.JPG">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260274.JPG"
	thumbURL="thumbs/P8260274.JPG"
	linkURL="images/P8260274.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260274.JPG">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260289.JPG"
	thumbURL="thumbs/P8260289.JPG"
	linkURL="images/P8260289.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260289.JPG">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260278.JPG"
	thumbURL="thumbs/P8260278.JPG"
	linkURL="images/P8260278.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260278.JPG">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260281.JPG"
	thumbURL="thumbs/P8260281.JPG"
	linkURL="images/P8260281.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260281.JPG">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260283.JPG"
	thumbURL="thumbs/P8260283.JPG"
	linkURL="images/P8260283.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260283.JPG">
    <title><![CDATA[15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260287.JPG"
	thumbURL="thumbs/P8260287.JPG"
	linkURL="images/P8260287.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260287.JPG">
    <title><![CDATA[16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P8260288.JPG"
	thumbURL="thumbs/P8260288.JPG"
	linkURL="images/P8260288.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\P8260288.JPG">
    <title><![CDATA[17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Imagen 070.jpg"
	thumbURL="thumbs/Imagen 070.jpg"
	linkURL="images/Imagen 070.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\Imagen 070.jpg">
    <title><![CDATA[18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150217_171753.jpg"
	thumbURL="thumbs/20150217_171753.jpg"
	linkURL="images/20150217_171753.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20150217_171753.jpg">
    <title><![CDATA[19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151124_171938.jpg"
	thumbURL="thumbs/20151124_171938.jpg"
	linkURL="images/20151124_171938.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20151124_171938.jpg">
    <title><![CDATA[20]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150617_134916.jpg"
	thumbURL="thumbs/20150617_134916.jpg"
	linkURL="images/20150617_134916.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20150617_134916.jpg">
    <title><![CDATA[21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151017_123049.jpg"
	thumbURL="thumbs/20151017_123049.jpg"
	linkURL="images/20151017_123049.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20151017_123049.jpg">
    <title><![CDATA[22]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151017_123716.jpg"
	thumbURL="thumbs/20151017_123716.jpg"
	linkURL="images/20151017_123716.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20151017_123716.jpg">
    <title><![CDATA[23]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160913_181725.jpg"
	thumbURL="thumbs/20160913_181725.jpg"
	linkURL="images/20160913_181725.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20160913_181725.jpg">
    <title><![CDATA[24]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170331_112904.jpg"
	thumbURL="thumbs/20170331_112904.jpg"
	linkURL="images/20170331_112904.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20170331_112904.jpg">
    <title><![CDATA[25]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170411_173503.jpg"
	thumbURL="thumbs/20170411_173503.jpg"
	linkURL="images/20170411_173503.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20170411_173503.jpg">
    <title><![CDATA[26]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20171010_135644.jpg"
	thumbURL="thumbs/20171010_135644.jpg"
	linkURL="images/20171010_135644.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20171010_135644.jpg">
    <title><![CDATA[27]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0000.jpg"
	thumbURL="thumbs/IMG-20191026-WA0000.jpg"
	linkURL="images/IMG-20191026-WA0000.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\IMG-20191026-WA0000.jpg">
    <title><![CDATA[28]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191102-WA0000.jpg"
	thumbURL="thumbs/IMG-20191102-WA0000.jpg"
	linkURL="images/IMG-20191102-WA0000.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\IMG-20191102-WA0000.jpg">
    <title><![CDATA[29]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20200103-WA0006.jpg"
	thumbURL="thumbs/IMG-20200103-WA0006.jpg"
	linkURL="images/IMG-20200103-WA0006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\IMG-20200103-WA0006.jpg">
    <title><![CDATA[30]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20200717_182552.jpg"
	thumbURL="thumbs/20200717_182552.jpg"
	linkURL="images/20200717_182552.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20200717_182552.jpg">
    <title><![CDATA[31]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20201221_170259.jpg"
	thumbURL="thumbs/20201221_170259.jpg"
	linkURL="images/20201221_170259.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\PuertasCalle\images\20201221_170259.jpg">
    <title><![CDATA[32]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220810_134908.jpg"
	thumbURL="thumbs/20220810_134908.jpg"
	linkURL="images/20220810_134908.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\web\trabajos\PuertasCalle\images\20220810_134908.jpg">
    <title><![CDATA[33]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20230317_131252.jpg"
	thumbURL="thumbs/20230317_131252.jpg"
	linkURL="images/20230317_131252.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\web\trabajos\PuertasCalle\images\20230317_131252.jpg">
    <title><![CDATA[34]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20230524_130231.jpg"
	thumbURL="thumbs/20230524_130231.jpg"
	linkURL="images/20230524_130231.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR puertas de calle\20230524_130231.jpg">
    <title><![CDATA[35]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>