<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Trabajos a medida"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"

>
  <image imageURL="images/8.jpg"
	thumbURL="thumbs/8.jpg"
	linkURL="images/8.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\8.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/9.jpg"
	thumbURL="thumbs/9.jpg"
	linkURL="images/9.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\9.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02019.JPG"
	thumbURL="thumbs/DSC02019.JPG"
	linkURL="images/DSC02019.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\DSC02019.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02022.JPG"
	thumbURL="thumbs/DSC02022.JPG"
	linkURL="images/DSC02022.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\DSC02022.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/retocada.JPG"
	thumbURL="thumbs/retocada.JPG"
	linkURL="images/retocada.JPG"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\retocada.JPG">
    <title><![CDATA[Mueble lacado blanco con puertas cristal]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20140807_135407.jpg"
	thumbURL="thumbs/20140807_135407.jpg"
	linkURL="images/20140807_135407.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20140807_135407.jpg">
    <title><![CDATA[20140807_135407]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150407_110705.jpg"
	thumbURL="thumbs/20150407_110705.jpg"
	linkURL="images/20150407_110705.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150407_110705.jpg">
    <title><![CDATA[Mueble despensero con tablero de diseño]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150217_171401.jpg"
	thumbURL="thumbs/20150217_171401.jpg"
	linkURL="images/20150217_171401.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150217_171401.jpg">
    <title><![CDATA[Ventanal lacado en blanco para dividir espacios]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150706_112530.jpg"
	thumbURL="thumbs/20150706_112530.jpg"
	linkURL="images/20150706_112530.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150706_112530.jpg">
    <title><![CDATA[mobiliario oficina]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150706_123106.jpg"
	thumbURL="thumbs/20150706_123106.jpg"
	linkURL="images/20150706_123106.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150706_123106.jpg">
    <title><![CDATA[mobiliario oficina]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150706_123120.jpg"
	thumbURL="thumbs/20150706_123120.jpg"
	linkURL="images/20150706_123120.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150706_123120.jpg">
    <title><![CDATA[mobiliario oficina]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150706_123135.jpg"
	thumbURL="thumbs/20150706_123135.jpg"
	linkURL="images/20150706_123135.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150706_123135.jpg">
    <title><![CDATA[mobiliario oficina]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150706_123140.jpg"
	thumbURL="thumbs/20150706_123140.jpg"
	linkURL="images/20150706_123140.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150706_123140.jpg">
    <title><![CDATA[20150706_123140]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150706_123153.jpg"
	thumbURL="thumbs/20150706_123153.jpg"
	linkURL="images/20150706_123153.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150706_123153.jpg">
    <title><![CDATA[mobiliario oficina]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150706_123316.jpg"
	thumbURL="thumbs/20150706_123316.jpg"
	linkURL="images/20150706_123316.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150706_123316.jpg">
    <title><![CDATA[mobiliario oficina]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150821_134231.jpg"
	thumbURL="thumbs/20150821_134231.jpg"
	linkURL="images/20150821_134231.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20150821_134231.jpg">
    <title><![CDATA[20150821_134231]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20151128-WA0001.jpg"
	thumbURL="thumbs/IMG-20151128-WA0001.jpg"
	linkURL="images/IMG-20151128-WA0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20151128-WA0001.jpg">
    <title><![CDATA[porche madera maciza]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20151128-WA0002.jpg"
	thumbURL="thumbs/IMG-20151128-WA0002.jpg"
	linkURL="images/IMG-20151128-WA0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20151128-WA0002.jpg">
    <title><![CDATA[porche madera maciza]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20161112_121553.jpg"
	thumbURL="thumbs/20161112_121553.jpg"
	linkURL="images/20161112_121553.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20161112_121553.jpg">
    <title><![CDATA[Mueble de baño]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20161112_121558.jpg"
	thumbURL="thumbs/20161112_121558.jpg"
	linkURL="images/20161112_121558.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20161112_121558.jpg">
    <title><![CDATA[Mueble de baño]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180427_190255.jpg"
	thumbURL="thumbs/20180427_190255.jpg"
	linkURL="images/20180427_190255.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20180427_190255.jpg">
    <title><![CDATA[Mueble de baño]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180427_190257.jpg"
	thumbURL="thumbs/20180427_190257.jpg"
	linkURL="images/20180427_190257.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20180427_190257.jpg">
    <title><![CDATA[Mueble de baño]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180427_191108.jpg"
	thumbURL="thumbs/20180427_191108.jpg"
	linkURL="images/20180427_191108.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20180427_191108.jpg">
    <title><![CDATA[Mueble de baño]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180427_191317.jpg"
	thumbURL="thumbs/20180427_191317.jpg"
	linkURL="images/20180427_191317.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20180427_191317.jpg">
    <title><![CDATA[Mueble de baño]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20181117_100950.jpg"
	thumbURL="thumbs/20181117_100950.jpg"
	linkURL="images/20181117_100950.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20181117_100950.jpg">
    <title><![CDATA[tragaluz roble]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20181117_101001.jpg"
	thumbURL="thumbs/20181117_101001.jpg"
	linkURL="images/20181117_101001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20181117_101001.jpg">
    <title><![CDATA[20181117_101001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20190226_120153.jpg"
	thumbURL="thumbs/20190226_120153.jpg"
	linkURL="images/20190226_120153.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20190226_120153.jpg">
    <title><![CDATA[Libreria y escritorio]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20190226_120239.jpg"
	thumbURL="thumbs/20190226_120239.jpg"
	linkURL="images/20190226_120239.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20190226_120239.jpg">
    <title><![CDATA[Libreria y escritorio]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20190226_120246.jpg"
	thumbURL="thumbs/20190226_120246.jpg"
	linkURL="images/20190226_120246.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20190226_120246.jpg">
    <title><![CDATA[Libreria y escritorio]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0002.jpg"
	thumbURL="thumbs/IMG-20191026-WA0002.jpg"
	linkURL="images/IMG-20191026-WA0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20191026-WA0002.jpg">
    <title><![CDATA[Mobiliario oficina Roble]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0003.jpg"
	thumbURL="thumbs/IMG-20191026-WA0003.jpg"
	linkURL="images/IMG-20191026-WA0003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20191026-WA0003.jpg">
    <title><![CDATA[Mobiliario oficina Roble]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0004.jpg"
	thumbURL="thumbs/IMG-20191026-WA0004.jpg"
	linkURL="images/IMG-20191026-WA0004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20191026-WA0004.jpg">
    <title><![CDATA[Mobiliario oficina Roble]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0008.jpg"
	thumbURL="thumbs/IMG-20191026-WA0008.jpg"
	linkURL="images/IMG-20191026-WA0008.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20191026-WA0008.jpg">
    <title><![CDATA[Libreria roble, blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0010.jpg"
	thumbURL="thumbs/IMG-20191026-WA0010.jpg"
	linkURL="images/IMG-20191026-WA0010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20191026-WA0010.jpg">
    <title><![CDATA[Libreria roble, blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0018.jpg"
	thumbURL="thumbs/IMG-20191026-WA0018.jpg"
	linkURL="images/IMG-20191026-WA0018.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20191026-WA0018.jpg">
    <title><![CDATA[Libreria roble, blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20191026-WA0019.jpg"
	thumbURL="thumbs/IMG-20191026-WA0019.jpg"
	linkURL="images/IMG-20191026-WA0019.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\IMG-20191026-WA0019.jpg">
    <title><![CDATA[Libreria roble, blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20191115_125210.jpg"
	thumbURL="thumbs/20191115_125210.jpg"
	linkURL="images/20191115_125210.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20191115_125210.jpg">
    <title><![CDATA[20191115_125210]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20191115_125240.jpg"
	thumbURL="thumbs/20191115_125240.jpg"
	linkURL="images/20191115_125240.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20191115_125240.jpg">
    <title><![CDATA[20191115_125240]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20200605_162942.jpg"
	thumbURL="thumbs/20200605_162942.jpg"
	linkURL="images/20200605_162942.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20200605_162942.jpg">
    <title><![CDATA[Tarima, cercos, y zocalo blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20200605_162949.jpg"
	thumbURL="thumbs/20200605_162949.jpg"
	linkURL="images/20200605_162949.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20200605_162949.jpg">
    <title><![CDATA[Tarima, cercos, y zocalo blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20200605_163007.jpg"
	thumbURL="thumbs/20200605_163007.jpg"
	linkURL="images/20200605_163007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20200605_163007.jpg">
    <title><![CDATA[Tarima, cercos, y zocalo blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20210507_115147.jpg"
	thumbURL="thumbs/20210507_115147.jpg"
	linkURL="images/20210507_115147.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20210507_115147.jpg">
    <title><![CDATA[botellero expositor roble blanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20210507_115216.jpg"
	thumbURL="thumbs/20210507_115216.jpg"
	linkURL="images/20210507_115216.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\AMedida\images\20210507_115216.jpg">
    <title><![CDATA[botellero expositor roble blanco 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20211027_164134.jpg"
	thumbURL="thumbs/20211027_164134.jpg"
	linkURL="images/20211027_164134.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR a medida\20211027_164134.jpg">
    <title><![CDATA[Mueble entrada vivienda cajones]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220127_092104.jpg"
	thumbURL="thumbs/20220127_092104.jpg"
	linkURL="images/20220127_092104.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR a medida\20220127_092104.jpg">
    <title><![CDATA[Estamterias  blancas, con pared alistonada]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220217_092322.jpg"
	thumbURL="thumbs/20220217_092322.jpg"
	linkURL="images/20220217_092322.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR a medida\20220217_092322.jpg">
    <title><![CDATA[Estamterias  blancas, con pared alistonada 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220217_092339.jpg"
	thumbURL="thumbs/20220217_092339.jpg"
	linkURL="images/20220217_092339.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR a medida\20220217_092339.jpg">
    <title><![CDATA[Estamterias  blancas, con pared alistonada 3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220221_091502.jpg"
	thumbURL="thumbs/20220221_091502.jpg"
	linkURL="images/20220221_091502.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR a medida\20220221_091502.jpg">
    <title><![CDATA[puerta madera maciza, división oficinas]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220817_162451.jpg"
	thumbURL="thumbs/20220817_162451.jpg"
	linkURL="images/20220817_162451.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Jomi\Desktop\Jose\JOSE\TRABAJO\pagina web\Pagina web\SUBIR a medida\20220817_162451.jpg">
    <title><![CDATA[separador de ambientes en roble macizo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>